body{
    margin: 0;
    padding: 0;
}

.top-page {
  width: 100%;
    height: 100%;
    vertical-align: middle;
    background-size: cover;
  background-repeat: no-repeat;
  text-align:center;
  margin:0px;
  padding:0px;
}

.Title {
    font-family: 'Permanent Marker', cursive;
    color: black;
  font-weight: 300;
font-size: 10vw;
    margin: 1vw !important;
}

.subtitle {
    width: 60%;
    font-family:monospace;
    color: black;
  font-weight:0;
font-size: 25;
    padding-bottom: 5vw;
    display:inline-block;
    margin: 0 !important;   
}

.row {
    margin-top: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
}
.thumbnail img{
min-height: 300px;
}

.imgtitle {
    text-align:;
    overflow: hidden;
}

.subtext {
    text-align: center;
}


